.choresText {
   color: purple;
   font-family: fantasy ;
   font-size: 1.5vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rgb(109, 60, 255);
   font-size: 2vw;
   text-decoration: underline;
   text-align: left;
   padding: 1vw;
}